.moviescard {
  background: #222222;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  height: 218px;
}

.moviescard__image {
  width: 100%;
  height: 151px;
  background-color: #fff;
  object-fit: cover;
  cursor: pointer;
}

.moviescard__save-area {
  margin: 0;
}

.moviescard__save-button {
  background-image: url(../../../images/movies-card__save-icon.svg);
  width: 18px;
  height: 20px;
  background-position: top;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: #222222;
  cursor: pointer;
}

.moviescard__save-button:hover {
  opacity: 80%;
}

.moviescard__save-button_active {
  background-image: url(../../../images/movies-card__save-icon-active.svg);
  width: 18px;
  height: 20px;
  background-position: top;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: #222222;
  cursor: pointer;
}


.moviescard__delete-movie {
  background-image: url(../../../images/movies-card__remove-icon.svg);
  width: 16px;
  height: 16px;
  background-position: top;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  background-color: #222222;
  cursor: pointer;
}

.moviescard__delete-movie:hover {
  opacity: 80%;
}

.moviescard__delete-movie_active {
  visibility: visible;
}

.moviescard__info {
  max-width: 332px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 14px 12px 0 12px;
}

.moviescard__name {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.moviescard__duration {
  color: #8B8B8B;
  width: 52px;
  height: 18px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 10px 0 14px 11px;
}

@media screen and (max-width: 768px) {
  .moviescard {
    height: 257px;
  }


  .moviescard__image {
    height: 190px;
  }
}

@media screen and (max-width: 492px) {
  .moviescard {
    height: 235px;
  }

  .moviescard__image {
    height: 168px;
  }

  .moviescard__info {
    margin-top: 9px;
  }
}