.forminput__label {
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
}

.forminput {
  width: 396px;
  background-color: #2F2F2F;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: white;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  border-width: 0px 0px 1px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.forminput:focus {
  border-bottom: 1px solid rgba(66, 133, 244, 1);
}

@media screen and (max-width: 456px) {
  .forminput {
    width: 100%;
  }
}