.searchform {
  width: calc(100% - 140px);
  margin: 80px auto 0;
}

.searchform__search-block {
  width: 100%;
  position: relative;
}

.searchform__input-container {
  border: 0;
  padding: 0;
  margin: 0;
}

.searchform__search-field {
  color: #fff;
  width: calc(100% - 54px);
  height: 50px;
  outline: none;
  border-radius: 8px;
  background-color: #2F2F2F;
  box-sizing: border-box;
  border-width: 0px 0px 0px;
  padding: 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.searchform__search-field:focus {
  border: 1px solid rgb(70, 70, 70);
}

.searchform__button-container {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2.5px;
  right: 0;
}

.searchform__button {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #4285F4;
  background-image: url(../../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0px 0px 0px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.searchform__button_error {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/search-icon.svg);
  width: 34px;
  height: 34px;
  margin-bottom: 13px;
  margin-right: 5px;
  opacity: 0.6;
}

.searchform__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {

  .searchform {
    width: calc(100% - 60px);
    margin: 80px auto 0;
  }

  .searchform__search-field {
    color: #fff;
    width: calc(100% - 54px);
    height: 50px;
    padding-left: 20px;
  }



  .searchform__button-container {
    top: 2.5px;
    right: 0;
  }
}

@media screen and (max-width: 492px) {

  .searchform {
    width: calc(100% - 30px);
    margin: 80px auto 0;
  }

  .searchform__search-field {
    color: #fff;
    width: calc(100% - 54px);
    height: 44px;
    padding-left: 20px;
  }

  .searchform__button-container {
    top: 0;
    right: 0;
  }
}

.filtercheckbox__checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 31px;
}

.filtercheckbox__checkbox-label {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 36px;
}

.filtercheckbox__checkbox-labeltext {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 12px;
  cursor: pointer;
}

.filtercheckbox__checkbox-label input {
  display: none;
}

.filtercheckbox__checkbox-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.filtercheckbox__checkbox-slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked+.filtercheckbox__checkbox-slider {
  background-color: #3DDC84;
}

input:checked+.filtercheckbox__checkbox-slider:before {
  transform: translateX(16px);
}

.filtercheckbox__checkbox-slider.round {
  border-radius: 40px;
}

.filtercheckbox__checkbox-slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {

  .filtercheckbox__checkbox-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 492px) {

  .filtercheckbox__checkbox-container {
    margin-top: 46px;
    margin-bottom: 39px;
  }
}