.formbutton {
  color: #fff;
  background-color: #4285F4;
  width: 396px;
  height: 45px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
}

.formbutton:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .formbutton {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 456px) {
  .formbutton {
    width: 100%;
    margin-bottom: 16px;
  }
}